
body{
    overflow: hidden;
}

#frame_container{


    width:100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame {
    margin-top: 10vh;
    height: 70vh;
    opacity: 0.3;
    transition: opacity 0.2s ease;
}

#button {
    position: fixed;
    top: 5vh;
    right: 5vh;

    width: 5vb; /* Größe anpassen */
    height: auto;

    z-index: 10; /* damit es über allem liegt */
}
#button:hover {
    opacity: 0.2;
}

