@font-face {
    font-family: myfont;
    src: url(./fonts/TapeFont-Regular.ttf);
}

p {
    color: #DF6363;
    font-size: 55px;
    text-align: center;
    font-family: myfont;
    transition: transform 0.3s ease;
}

p:hover {
    color: #B6D8FF;
    transform: scale(1.05); /* wird größer */
}
h1 {
    color: #DF6363;
    font-size: 40px;
    text-align: center;
    font-family: myfont;
    transition: transform 0.3s ease;
}
h1:hover {
    color: #B6D8FF;
    transform: scale(1.05);
}
#svg{
    width: 30vw;
    height: auto;
    transition: transform 0.3s ease;
}

#svg:hover{
    transform: rotate(-5deg);
}

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

a {
    text-decoration: none;
}
